.heared{
    background-color: white;
    display: flex;
    justify-content: flex-start;
}

.header-container{
    display: flex;
    justify-content: flex-end;
    width:100%;
}


.basic-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    padding-top:50px;
}